body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 110vh;
    
}

header {
    background: lightblue;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

#toggler {
    position: fixed;
    right: 0;
    visibility: hidden;
    cursor: pointer;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

nav {
    display: flex;
    margin: 2em;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    align-items: center;
    
    
    
    
}

nav ul a {
    text-decoration: none;
}

.parent {
    position: relative;
    
}

.dropdown {
  background: #ddd;
  height: 0;
  overflow: hidden;
  position: absolute;
  transition: height .5s ease-in;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.parent:hover .dropdown {
    height: 200px;
    transform: translateY(0);
    visibility: visible;
  }


  @media only screen and (max-width: 600px) {
    header {
      background-color: rgb(173, 230, 182);
      flex-direction: column;
    }

    #toggler {
       visibility: visible;
    }
    
    nav {
        visibility: hidden;
        height: 0;
        transition: height .5s ease-in;
        position: absolute;
        
    }
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav ul li{
        
        width: 100%;
    }
    .parent:hover .dropdown {
        height: 200px;
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        position: relative;
      }
    #toggler:checked ~ nav {
        visibility: visible;
        transform: translateY(0);
        height: 200px;
        position: relative;
        
    }

    
}