body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 110vh;
    
}

#icon {
    
    
    transition: ease 1s;
    font-size: 14px;
    
}

header {
    background: #09ce9d;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-radius: 0 0 2em 2em;
    
    
    
    
}

.logo {
    padding-left: 1em;
    
}

.logo a {
    text-decoration: none;
    display: flex;
    color: inherit;
    max-width: 8em;
}

#toggler {
   position: absolute;
   right: 1em;
   top: 2em;
   opacity: 0;      
         
}


.hamburger {
    position: absolute;
    top: 4em;
    right: 2em;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 2;
    visibility: hidden;
    cursor: pointer;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: tomato;
    margin-top: 8px;
    transition: transform 0.3s ease-in-out;
  }



nav {
    display: flex;
    margin-right: 3em;
    
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
     
}

nav ul li {

            min-width: 8em;
            text-align: center;
}



nav ul a {
    text-decoration: none;
    color: inherit;
    background-image: linear-gradient(90deg, white, orange);
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: left top;
    transition: all 300ms ease;
    padding-top: 1em;
        
}



.parent {
    position: relative;
    cursor: pointer;
    
}

.dropdown {
  background: #4db990;
  height: 0;
  overflow: hidden;
  position: absolute;
  transition: height .5s ease-in-out;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0;
  box-shadow: 2px 2px 2px black;
  border-radius: 1em;
  width: 100%;
  align-items: center;
    
  
}





.dropdown li:nth-child(even) {background: #2c966d}

.dropdown li:hover {
    color: tomato;
}

.dropdown li {
    height: 100%;
    padding: 1em;
}





.dropdown  li  a {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 1em;
    
    
}


.parent:hover .dropdown {
    height: 10em;
    transform: translateY(0);
    
    
    
  }

 
  .parent:hover #icon {
    transform: rotate(180deg)
  }

/* Media Queries */

@media only screen and (min-width: 600px) {

    .active {
        background-position: left top;
        background-image: linear-gradient(90deg, rgb(241, 164, 21), red);
        background-size: 100% 5px;    
        
    }
    
    nav ul li:hover .menu-item{
        
        background-size: 100% 5px;
        
       
        
    }

    
}    

    

@media only screen and (max-width: 600px) {
    header {
      background: transparent;
      flex-direction: column;
      
    }

    .logo {
        background-color: #09ce9d;
        padding-top: 1em;
        margin: 0px;
        min-height: 2em;
        text-align: center;
    }

  
    .hamburger {
        visibility: visible;
    }

    #toggler:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
      }
      #toggler:checked  + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
      }
      #toggler:checked  + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
      }
    
 
   
    nav {
        
        width: 0px;
        transition: width .5s ease-in-out;
        position: sticky;
        background: #4db990;
        padding: 0px;
        margin: 0px;
        
        
        
        
    }
    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background: #4db990;
        text-align: center;
        gap: 0;
        box-shadow: 2px 2px 2px black;
        border-radius: 0 1em 1em 0;
       
        
    }
    nav ul li{
        overflow: hidden;
        width: 100%;
        padding: 1em 0;
        min-width: 0px;
        height: 100%;
       
                
    }

    nav ul li a {
        
       display: block;
                     
    }

    

    nav > ul li:nth-child(even) {
        background: #2c966d
    }
    

    .menu-item:hover {
        color: tomato;
    }

    .parent {
        padding: 0.1em 0;
    }

    .dropdown {
       position: relative;
       box-shadow: none;
       background-color: #09ce9d;
       border-radius: 0;
       
    }

    .dropdown li a{
        padding: 0.25em;
        
    }

    .parent:hover .dropdown {
        height: 8em;
        transform: translateY(0);
        
        
        
      }

  
   #toggler:checked ~ nav {
        
        transform: translateX(0);
        width: 14em;
        position: relative;
        
        
    }

    #icon {
        font-size: 24px;
        
    }

    
}






  
  